# Aula 01

## Importando os dados e iniciando o NumPy

In [16]:
import numpy as np

In [17]:
url = 'https://raw.githubusercontent.com/mariaiteixeira/numpy/main/dados/apples_ts.csv'

In [18]:
# Total de meses = 87
np.arange(1,88,1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87])

In [19]:
dado = np.loadtxt(url,delimiter=',',usecols=np.arange(1,88,1))

In [20]:
dado.ndim

2

In [21]:
dado.size

522

In [22]:
dado.shape

(6, 87)

In [25]:
dado_transposto = dado.T

## Atividade para obter as dimensões

In [33]:
bytebank = 'https://raw.githubusercontent.com/mariaiteixeira/numpy/main/dados/bytebank.csv'

In [34]:
# Para fazer obter as dimensões do array podemos aplicar o método shape:
dado2 = np.loadtxt(bytebank, delimiter=',', skiprows=1, dtype=float)
np.shape(dado2)

(12, 2)

In [35]:
# Podemos também fazer deste modo - chamamos o np e aplicamos por cima dos nossos dados:
dado2 = np.loadtxt(bytebank, delimiter=',',skiprows=1,dtype=float)
dado2.shape

(12, 2)

## Desafio do "Faça como eu fiz"

In [36]:
citrus = 'https://raw.githubusercontent.com/mariaiteixeira/numpy/main/dados/citrus.csv'

In [43]:
dado3 = np.loadtxt(citrus, delimiter=',', usecols=np.arange(1,6,1), skiprows=1)

# Aula 02